<div class="container-1 p-3" style="background: -webkit-linear-gradient(135deg, #ffffff, #7c8a9e);">
  <div class="row g-0 position-relative" style="background: transparent;">
    <!-- Image Column -->
    <div class="col-md-6 mb-md-0 p-md-0">
      <img src="../../assets/cooker.webp" class="img-fluid rounded-start" alt="Cooking Equipment"
        style="animation: up-down 2s ease-in-out infinite alternate-reverse both; ">
    </div>
    <!-- Text Column -->
    <div class="col-md-4 p-4 my-auto" style="background: transparent;">
      <h5 class="mt-0 fw-bold">Discover Our Cooking Solutions</h5>
      <p class="mb-4" style="font-size: 16px; color: #333;">
        Explore innovative cooking equipment designed to elevate your culinary experience. Our products combine quality,
        performance, and style to meet your kitchen needs.
      </p>
      <!-- <a href="#" class="btn btn-primary stretched-link">Buy Now</a> -->
    </div>
  </div>
</div>
<div class="container-1 p-3" style="background: -webkit-linear-gradient(135deg, #ffffff, #7c8a9e);">
  <div class="row g-0 position-relative" style="background: transparent;">

    <!-- Text Column -->
    <div class="col-md-4 p-4 my-auto mx-5" style="background: transparent;">
      <h5 class="mt-0 fw-bold">Discover Our Cooking Solutions</h5>
      <p class="mb-4" style="font-size: 16px; color: #333;">
        Explore innovative cooking equipment designed to elevate your culinary experience. Our products combine quality,
        performance, and style to meet your kitchen needs.
      </p>
      <!-- <a href="#" class="btn btn-primary stretched-link ">Buy Now</a> -->
    </div>
    <!-- Image Column -->
    <div class="col-md-6 mb-md-0 p-md-0">
      <img src="../../assets/cooker.webp" class="img-fluid rounded-start" alt="Cooking Equipment"
        style="object-fit: cover; max-height: 100%; max-width: 100%;">
    </div>
  </div>
</div>

<!--Key Features-->
<section class="py-6 bg-beige padding">
  <div class="container">
    <div class="row justify-content-center text-center mb-4">
      <div class="col-xl-6 col-lg-8 col-sm-10">
        <h1 class="font-weight-bold">The Perfect Blend of <br><span>Priorities</span> and <span>Qualities</span> </h1>
        <p class="text-muted mb-0">We bring the results while helping you achieve cost and time savings without taking
          on risk or management overhead.</p>
      </div>
    </div>

    <div
      class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center px-xl-6 aos-init aos-animate"
      data-aos="fade-up">
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/high-quality.png">
            </div>
            <h6 class="font-weight-bold mb-3">Quality and Durability</h6>
            <p class="text-muted mb-0">Emphasize the strength, longevity, and corrosion resistance of your steel, ideal
              for kitchen use.</p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/iron.png">
            </div>
            <h6 class="font-weight-bold mb-3">Precision Craftsmanship</h6>
            <p class="text-muted mb-0">Showcase the attention to detail and high standards in manufacturing each piece.
            </p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/shape.png">
            </div>
            <h6 class="font-weight-bold mb-3">Design and Aesthetics</h6>
            <p class="text-muted mb-0"> Highlight the sleek, modern look of your products that can elevate any kitchen
              design.</p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/water-drop.png">
            </div>
            <h6 class="font-weight-bold mb-3">Food-Safe and Hygienic</h6>
            <p class="text-muted mb-0">Steel is non-porous, easy to clean, and hygienic, making it ideal for kitchen
              applications.</p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/recycling.png">
            </div>
            <h6 class="font-weight-bold mb-3">Eco-Friendly and Recyclable:</h6>
            <p class="text-muted mb-0">Steel is 100% recyclable, which appeals to eco-conscious consumers.</p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/heat.png">
            </div>
            <h6 class="font-weight-bold mb-3">Heat and Stain Resistance:</h6>
            <p class="text-muted mb-0">Showcase the ability of your products to withstand heat and resist stains,
              crucial for kitchen environments.</p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/settings.png">
            </div>
            <h6 class="font-weight-bold mb-3">Customizable Options</h6>
            <p class="text-muted mb-0">If applicable, mention the possibility of custom designs or finishes to fit
              specific kitchen needs.</p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/expert.png">
            </div>
            <h6 class="font-weight-bold mb-3">Industry Expertise</h6>
            <p class="text-muted mb-0">Leverage any years of experience, certifications, or industry knowledge to build
              trust in the brand.</p>
          </div>
        </div>
      </div>
      <div class="col mb-0 mt-3 mb-lg-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-4">
              <img src="./assets/icon/biceps.png">
            </div>
            <h6 class="font-weight-bold mb-3">Impact Resistance</h6>
            <p class="text-muted mb-0">Making them durable enough to handle accidental drops, heavy items, and other
              kitchen demands.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Testimonial-->
<div class="padding">
  <div class="row text-center">
    <h1>Happy With <span>Customers</span> & <span>Clients</span></h1>
  </div>
  <div class="container mt-5 mb-5">

    <div class="row g-2">
      <div class="col-md-4">
        <div class="card-testimonials p-3 text-center px-4">
          <div class="user-image">
            <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">
          </div>
          <div class="user-content">
            <h5 class="mb-0">Bruce Hardy</h5>
            <span>Software Developer</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>

          </div>

          <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>

          </div>

        </div>
      </div>

      <div class="col-md-4">

        <div class="card-testimonials p-3 text-center px-4">

          <div class="user-image">

            <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80">

          </div>

          <div class="user-content">

            <h5 class="mb-0">Mark Smith</h5>
            <span>Web Developer</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>

          </div>

          <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>

          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="card-testimonials p-3 text-center px-4">

          <div class="user-image">

            <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80">

          </div>

          <div class="user-content">

            <h5 class="mb-0">Veera Duncan</h5>
            <span>Software Architect</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
          </div>
          <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>